# Personal/Environment config
.env
.env.*.local

# Databases and data storage
/data/
*.db
*.db-shm
*.db-wal

# Build caches
.go-cache/
.cache/
node_modules/

# Local Compiled Binaries
/koalabye
/koalabye.exe
/templgenerate.exe
/sqlc.exe
*.exe
*.test
*.out
*.prof

# IDE and Editor configs
.vscode/
.idea/
*.swp
*.swo
*~

# Operating System files
.DS_Store
Thumbs.db
